.form {
  border-radius: 5px;
  padding: 0 16px;
}

.form .custom-select:focus {
  box-shadow: none;
}

.form .select-container {
  position: relative;
}

.form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: "\F2F9";
  font-family: "Material-Design-Iconic-Font";
}

.form-container .box {
  background: #fff;
  border: 2px solid rgb(217, 217, 217);
  border-radius: 10px;
  padding: 10px 35px;
}

.box .img-holder {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overview {
  box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

.overview .detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.custom-btn {
  padding: 15px;
  border: 2px solid;
}

.red-border {
  border-color: rgba(255, 163, 158, 1);
}

.red-border:active {
  border-color: rgb(255, 126, 119);
}

.blue-border {
  border-color: rgba(9, 105, 218, 1);
}
.blue-border:active {
  border-color: rgb(7, 81, 165);
}

.gap-10 {
  gap: 100px;
}

.custom-input {
  padding: 6px;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 6px;
  width: 250px;
}
.custom-button {
  border: none;
  background-color: rgba(202, 70, 49, 1);
  color: #fff;
}
